body {
  box-sizing: border-box;
  background-color: gainsboro;
}

header {
  top: 0;
  margin: auto;
  text-align: center;
  position: sticky;
  z-index: 1;
  background-color: gainsboro;
}

.main {
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  border: 0;
  padding: 0;
}

.check-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.check-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.status {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px; /* Round corners to make it button-like */
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.status-up {
  background-color: #28a745; /* Green background for status 200 */
}

.status-down {
  background-color: #dc3545; /* Red background for any other status */
}

/* Grid layout for status cards - make them responsive */
.status-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));  /* Cards will fill space, and each card will be at least 220px wide */
  gap: 15px;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 98%;  /* Ensure grid takes full width */
}

/* Styling for individual status cards */
.status-card {
  background-color:bisque;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;  /* Ensure card takes full width available in the grid */
  overflow-wrap: break-word; /* Prevent overflow */
  word-wrap: break-word;    /* Prevent overflow */
  white-space: normal;      /* Allow wrapping of text */
  box-sizing: border-box;   /* Ensures padding does not affect width */
}

.status-card h4 {
  font-size: 14px;
  margin: 0;
  color: #333;
}

.status-card p {
  margin: 5px 0;
  font-size: 12px;
}

.status-up {
  border-left: 4px solid #28a745;
  padding-left: 10px;
}

.status-down {
  border-left: 4px solid #dc3545;
  padding-left: 10px;
}

/* Summary section */
.summary {
  display: flex;
  border-radius: 32px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  bottom: 0;
  text-align: center;
}

.left, .right {
  flex: 1;
  padding: 10px;
  color: white; /* White text for general styling */
}

.left {
  background-color: green;
}

.right {
  background-color: red;
}

/* Specifically adjust up-count and down-count text color */
.up-count {
  color: white; /* Ensure white text in the green section */
  font-weight: bold;
}

.down-count {
  color: white; /* Ensure white text in the red section */
  font-weight: bold;
}
